<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

<div class="row">
    <div class="col-xs-6">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowCtrl.searchTerm">
    </div>
    <div class="col-xs-3">
      <button class="btn btn-primary" ng-click="narrowCtrl.narrowDownMenu()">Narrow It Down For Me!</button>
    </div>
</div>
    <!-- found-items should be implemented as a component -->
    <found-items class="row" found="narrowCtrl.found" on-remove="narrowCtrl.removeMenuItem(index)"></found-items>

  </div>

</body>
</html>
